.material-container {
    padding: var(--espaco-md);
    margin: 0;
    display: flex;
    width: 100vw;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.note-viewer{
    background-color: #1e293b;
    border: 1px solid #475569;
    border-radius: 8px;
    padding: var(--espaco-md);
    color: #f8fafc;
    box-shadow: var(--sombra-suave);
    width: 55%;
    overflow: scroll;
}

.graph-viewer {
    width: 40vw;
    height: 100%;
    margin-right: var(--espaco-lg);
}